.side-bar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
}
.btn-secondary {
  margin: 0 auto;
  width: 50%;
  height: 45px;
  font-size: 70%;
  letter-spacing: 3px;
  color: #212529;
  background-color: #7eb2e0;
  border-color: #7eb2e0;
  border-radius: 17px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.btn-secondary.disabled {
  opacity: 0;
}
.btn-secondary:hover {
  background-color: #8fcbff;
  box-shadow: 0px 15px 20px rgba(143, 203, 255, 0.4);
  color: #ffffff;
  border-color: #7eb2e0;
  transform: translateY(-7px);
}

.btn-warning {
  margin: 0 auto;
  width: 90%;
  height: 45px;
  font-size: 100%;
  letter-spacing: 3px;
  color: #efefef;
  background-color: #ffbf00;
  border-color: #eeaf00;
  border-radius: 17px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.btn-warning:hover {
  background-color: #ffd000;
  box-shadow: 0px 15px 20px rgba(255, 208, 0, 0.4);
  color: #ffffff;
  border-color: #faca00;
  transform: translateY(-10px);
}

.visible {
  color: #ffbf00;
}
