/* Reihe 1: d Datavalidation */
.cornucopia-card-img-aa {
  background-position: -0px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a2 {
  background-position: -331px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a3 {
  background-position: -662px -0px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-a4 {
  background-position: -993px -0px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-a5 {
  background-position: -1324px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a6 {
  background-position: -1655px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a7 {
  background-position: -1986px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a8 {
  background-position: -2317px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a9 {
  background-position: -2648px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-a10 {
  background-position: -2979px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-aj {
  background-position: -3310px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-aq {
  background-position: -3641px -0px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-ak {
  background-position: -3972px -0px;
  width: 331px;
  height: 514px;
}


/* Reihe 2: 
a 
Authentication */


.cornucopia-card-img-ea {
  background-position: -0px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e2 {
  background-position: -331px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e3 {
  background-position: -662px -514px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-e4 {
  background-position: -993px -514px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-e5 {
  background-position: -1324px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e6 {
  background-position: -1655px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e7 {
  background-position: -1986px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e8 {
  background-position: -2317px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e9 {
  background-position: -2648px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-e10 {
  background-position: -2979px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-ej {
  background-position: -3310px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-eq {
  background-position: -3641px -514px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-ek {
  background-position: -3972px -514px;
  width: 331px;
  height: 514px;
}


/* Reihe 3: 
s
Session Management */


.cornucopia-card-img-ca {
  background-position: -0px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c2 {
  background-position: -331px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c3 {
  background-position: -662px -1028px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-c4 {
  background-position: -993px -1028px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-c5 {
  background-position: -1324px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c6 {
  background-position: -1655px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c7 {
  background-position: -1986px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c8 {
  background-position: -2317px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c9 {
  background-position: -2648px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-c10 {
  background-position: -2979px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-cj {
  background-position: -3310px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-cq {
  background-position: -3641px -1028px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-ck {
  background-position: -3972px -1028px;
  width: 331px;
  height: 514px;
}

/* Reihe 4: 
o
Authorization */


.cornucopia-card-img-da {
  background-position: -0px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d2 {
  background-position: -331px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d3 {
  background-position: -662px -1542px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-d4 {
  background-position: -993px -1542px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-d5 {
  background-position: -1324px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d6 {
  background-position: -1655px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d7 {
  background-position: -1986px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d8 {
  background-position: -2317px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d9 {
  background-position: -2648px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-d10 {
  background-position: -2979px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-dj {
  background-position: -3310px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-dq {
  background-position: -3641px -1542px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-dk {
  background-position: -3972px -1542px;
  width: 331px;
  height: 514px;
}

/* Reihe 5: 
c
Cryptography */


.cornucopia-card-img-ba {
  background-position: -0px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b2 {
  background-position: -331px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b3 {
  background-position: -662px -2056px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-b4 {
  background-position: -993px -2056px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-b5 {
  background-position: -1324px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b6 {
  background-position: -1655px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b7 {
  background-position: -1986px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b8 {
  background-position: -2317px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b9 {
  background-position: -2648px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-b10 {
  background-position: -2979px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-bj {
  background-position: -3310px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-bq {
  background-position: -3641px -2056px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-bk {
  background-position: -3972px -2056px;
  width: 331px;
  height: 514px;
}

/* Reihe 6: 
r
Cornucopia */


.cornucopia-card-img-ta {
  background-position: -0px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t2 {
  background-position: -331px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t3 {
  background-position: -662px -2570px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-t4 {
  background-position: -993px -2570px;
  width: 331px;
  height: 514px;
}
.cornucopia-card-img-t5 {
  background-position: -1324px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t6 {
  background-position: -1655px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t7 {
  background-position: -1986px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t8 {
  background-position: -2317px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t9 {
  background-position: -2648px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-t10 {
  background-position: -2979px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-tj {
  background-position: -3310px -2570px;
  width: 331px;
  height: 514px;  
}

.cornucopia-card-img-tq {
  background-position: -3641px -2570px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-tk {
  background-position: -3972px -2570px;
  width: 331px;
  height: 514px;
}

/* Reihe 7: 
j
Joker */


.cornucopia-card-img-j1 {
  background-position: -0px -3084px;
  width: 331px;
  height: 514px;
}

.cornucopia-card-img-j2 {
  background-position: -331px -3084px;
  width: 331px;
  height: 514px;
}
