.create h1 {
  color: white;
}
table {
  table-layout: auto;
  width: 100%;
}

.card {
  min-width: 70%;
}

.col-md-6 {
  max-width: 100%;
}

.c-td-name {
  width: 60%;
  min-width: 30%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
