.cumulus-card {
  background-image: url('cumulus_cards.jpg');
}

/* Access & Secrets */
.cumulus-card-img-t2 { background-position: -0px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t3 { background-position: -336px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t4 { background-position: -672px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t5 { background-position: -1009px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t6 { background-position: -1345px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t7 { background-position: -1681px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t8 { background-position: -2017px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t9 { background-position: -2353px 0px; width: 300px; height: 498px; }
.cumulus-card-img-t10 { background-position: -2690px 0px; width: 300px; height: 498px; }
.cumulus-card-img-tj { background-position: -3026px 0px; width: 300px; height: 498px; }
.cumulus-card-img-tq { background-position: -3362px 0px; width: 300px; height: 498px; }
.cumulus-card-img-tk { background-position: -3698px 0px; width: 300px; height: 498px; }
.cumulus-card-img-ta { background-position: -4035px 0px; width: 300px; height: 498px; }

/* Resources */
.cumulus-card-img-a2 { background-position: -0px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a3 { background-position: -336px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a4 { background-position: -672px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a5 { background-position: -1009px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a6 { background-position: -1345px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a7 { background-position: -1681px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a8 { background-position: -2017px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a9 { background-position: -2353px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-a10 { background-position: -2690px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-aj { background-position: -3026px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-aq { background-position: -3362px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-ak { background-position: -3698px -2001px; width: 300px; height: 498px; }
.cumulus-card-img-aa { background-position: -4035px -2001px; width: 300px; height: 498px; }

/* Monitoring */
.cumulus-card-img-b2 { background-position: -0px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b3 { background-position: -336px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b4 { background-position: -672px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b5 { background-position: -1009px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b6 { background-position: -1345px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b7 { background-position: -1681px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b8 { background-position: -2017px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b9 { background-position: -2353px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-b10 { background-position: -2690px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-bj { background-position: -3026px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-bq { background-position: -3362px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-bk { background-position: -3698px -1500px; width: 300px; height: 498px; }
.cumulus-card-img-ba { background-position: -4035px -1500px; width: 300px; height: 498px; }

/* Recovery */
.cumulus-card-img-c2 { background-position: -0px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c3 { background-position: -336px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c4 { background-position: -672px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c5 { background-position: -1009px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c6 { background-position: -1345px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c7 { background-position: -1681px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c8 { background-position: -2017px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c9 { background-position: -2353px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-c10 { background-position: -2690px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-cj { background-position: -3026px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-cq { background-position: -3362px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-ck { background-position: -3698px -1000px; width: 300px; height: 498px; }
.cumulus-card-img-ca { background-position: -4035px -1000px; width: 300px; height: 498px; }

/* Delivery */
.cumulus-card-img-d2 { background-position: -0px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d3 { background-position: -336px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d4 { background-position: -672px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d5 { background-position: -1009px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d6 { background-position: -1345px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d7 { background-position: -1681px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d8 { background-position: -2017px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d9 { background-position: -2353px -500px; width: 300px; height: 498px; }
.cumulus-card-img-d10 { background-position: -2690px -500px; width: 300px; height: 498px; }
.cumulus-card-img-dj { background-position: -3026px -500px; width: 300px; height: 498px; }
.cumulus-card-img-dq { background-position: -3362px -500px; width: 300px; height: 498px; }
.cumulus-card-img-dk { background-position: -3698px -500px; width: 300px; height: 498px; }
.cumulus-card-img-da { background-position: -4035px -500px; width: 300px; height: 498px; }
