.cumulus-card {
  background-image: url('cumulus_cards.jpg');
}

/* Access & Secrets */
.cumulus-card-img-t2 { background-position: -0px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t3 { background-position: -336px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t4 { background-position: -670px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t5 { background-position: -1006px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t6 { background-position: -1341px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t7 { background-position: -1676px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t8 { background-position: -2011px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t9 { background-position: -2353px -12px; width: 332px; height: 569px; }
.cumulus-card-img-t10 { background-position: -2681px -12px; width: 332px; height: 569px; }
.cumulus-card-img-tj { background-position: -3016px -12px; width: 332px; height: 569px; }
.cumulus-card-img-tq { background-position: -3351px -12px; width: 332px; height: 569px; }
.cumulus-card-img-tk { background-position: -3687px -12px; width: 332px; height: 569px; }
.cumulus-card-img-ta { background-position: -4021px -12px; width: 332px; height: 569px; }

/* Resources */
.cumulus-card-img-a2 { background-position: -0px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a3 { background-position: -336px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a4 { background-position: -670px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a5 { background-position: -1006px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a6 { background-position: -1341px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a7 { background-position: -1676px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a8 { background-position: -2011px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a9 { background-position: -2353px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-a10 { background-position: -2681px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-aj { background-position: -3016px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-aq { background-position: -3351px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-ak { background-position: -3687px -2293px; width: 332px; height: 569px; }
.cumulus-card-img-aa { background-position: -4021px -2293px; width: 332px; height: 569px; }

/* Monitoring */
.cumulus-card-img-b2 { background-position: -0px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b3 { background-position: -336px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b4 { background-position: -670px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b5 { background-position: -1006px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b6 { background-position: -1341px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b7 { background-position: -1676px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b8 { background-position: -2011px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b9 { background-position: -2353px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-b10 { background-position: -2681px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-bj { background-position: -3016px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-bq { background-position: -3351px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-bk { background-position: -3687px -1722px; width: 332px; height: 569px; }
.cumulus-card-img-ba { background-position: -4021px -1722px; width: 332px; height: 569px; }

/* Recovery */
.cumulus-card-img-c2 { background-position: -0px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c3 { background-position: -336px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c4 { background-position: -670px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c5 { background-position: -1006px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c6 { background-position: -1341px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c7 { background-position: -1676px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c8 { background-position: -2011px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c9 { background-position: -2353px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-c10 { background-position: -2681px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-cj { background-position: -3016px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-cq { background-position: -3351px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-ck { background-position: -3687px -1152px; width: 332px; height: 569px; }
.cumulus-card-img-ca { background-position: -4021px -1152px; width: 332px; height: 569px; }

/* Delivery */
.cumulus-card-img-d2 { background-position: -0px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d3 { background-position: -336px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d4 { background-position: -670px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d5 { background-position: -1006px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d6 { background-position: -1341px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d7 { background-position: -1676px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d8 { background-position: -2011px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d9 { background-position: -2353px -582px; width: 332px; height: 569px; }
.cumulus-card-img-d10 { background-position: -2681px -582px; width: 332px; height: 569px; }
.cumulus-card-img-dj { background-position: -3016px -582px; width: 332px; height: 569px; }
.cumulus-card-img-dq { background-position: -3351px -582px; width: 332px; height: 569px; }
.cumulus-card-img-dk { background-position: -3687px -582px; width: 332px; height: 569px; }
.cumulus-card-img-da { background-position: -4021px -582px; width: 332px; height: 569px; }
