.cumulus-card {
  background-image: url('cards-cumulus.jpg');
}

.cumulus-card-img-a10 { background-position: -5px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a2 { background-position: -310px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a3 { background-position: -615px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a4 { background-position: -920px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a5 { background-position: -1225px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a6 { background-position: -1530px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a7 { background-position: -1835px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a8 { background-position: -2140px -0px; width: 300px; height: 518px; }
.cumulus-card-img-a9 { background-position: -5px -523px; width: 300px; height: 518px; }
.cumulus-card-img-aa { background-position: -310px -523px; width: 300px; height: 518px; }
.cumulus-card-img-aj { background-position: -615px -523px; width: 300px; height: 518px; }
.cumulus-card-img-ak { background-position: -920px -523px; width: 300px; height: 518px; }
.cumulus-card-img-aq { background-position: -1225px -523px; width: 300px; height: 518px; }
.cumulus-card-img-t10 { background-position: -1530px -523px; width: 300px; height: 518px; }
.cumulus-card-img-t2 { background-position: -922px -4709px; width: 300px; height: 518px; }
.cumulus-card-img-t3 { background-position: -1226px -4708px; width: 300px; height: 518px; }
.cumulus-card-img-t4 { background-position: -1530px -4709px; width: 300px; height: 518px; }
.cumulus-card-img-t5 { background-position: -1835px -523px; width: 300px; height: 518px; }
.cumulus-card-img-t6 { background-position: -2140px -523px; width: 300px; height: 518px; }
.cumulus-card-img-t7 { background-position: -5px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-t8 { background-position: -310px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-t9 { background-position: -615px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-ta { background-position: -920px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-tj { background-position: -1225px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-tk { background-position: -1530px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-tq { background-position: -1835px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-b10 { background-position: -2140px -1046px; width: 300px; height: 518px; }
.cumulus-card-img-b2 { background-position: -5px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b3 { background-position: -310px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b4 { background-position: -615px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b5 { background-position: -920px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b6 { background-position: -1225px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b7 { background-position: -1530px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b8 { background-position: -1835px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-b9 { background-position: -2140px -1569px; width: 300px; height: 518px; }
.cumulus-card-img-ba { background-position: -5px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-bj { background-position: -310px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-bk { background-position: -615px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-bq { background-position: -920px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-c10 { background-position: -1225px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-c2 { background-position: -1530px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-c3 { background-position: -1835px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-c4 { background-position: -2140px -2092px; width: 300px; height: 518px; }
.cumulus-card-img-c5 { background-position: -5px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-c6 { background-position: -310px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-c7 { background-position: -615px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-c8 { background-position: -920px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-c9 { background-position: -1225px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-ca { background-position: -1530px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-cj { background-position: -1835px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-ck { background-position: -2140px -2615px; width: 300px; height: 518px; }
.cumulus-card-img-cq { background-position: -5px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d10 { background-position: -310px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d2 { background-position: -615px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d3 { background-position: -920px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d4 { background-position: -1225px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d5 { background-position: -1530px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d6 { background-position: -1835px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d7 { background-position: -2140px -3138px; width: 300px; height: 518px; }
.cumulus-card-img-d8 { background-position: -5px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-d9 { background-position: -310px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-da { background-position: -615px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-dj { background-position: -920px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-dk { background-position: -1225px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-dq { background-position: -1530px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-e10 { background-position: -1835px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-e2 { background-position: -617px -4707px; width: 300px; height: 518px; }
.cumulus-card-img-e3 { background-position: -2140px -3661px; width: 300px; height: 518px; }
.cumulus-card-img-e4 { background-position: -5px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-e5 { background-position: -310px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-e6 { background-position: -615px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-e7 { background-position: -920px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-e8 { background-position: -1225px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-e9 { background-position: -1530px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-ea { background-position: -1835px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-ej { background-position: -2140px -4184px; width: 300px; height: 518px; }
.cumulus-card-img-ek { background-position: -5px -4707px; width: 300px; height: 518px; }
.cumulus-card-img-eq { background-position: -310px -4707px; width: 300px; height: 518px; }
