.model {
  position: fixed;
  left: 0;
  width: 100%;
}

.status-bar {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.license {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 2%;
  width: 260px;
  font-size: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}