.banner {
  background-color: #dd1e1e;
  color: #fff;
  font-size: 115%;
  font-weight: 900;
  left: -8rem;
  max-width: 31rem;
  min-width: 31rem;
  padding: 7rem;
  position: fixed;
  text-align: center;
  top: 14rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  z-index: 999;
}
